[user]
    name = {{ .name }}
    email = {{ .play_email }}
    signingkey = {{ onepasswordRead "op://private/github/public key" }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = true

[includeIf "gitdir:~/work/**"]
  path = ~/work/.gitconfig

[includeIf "gitdir:~/play/**"]
  path = ~/play/.gitconfig
