{{ .play_email }} {{ onepasswordRead "op://private/github/public key" }}
{{ .work_email }} {{ onepasswordRead "op://work/bitbucket/public key" }}
{{ .work_email }} {{ onepasswordRead "op://work/azure/public key" }}