[user]
    name = {{ .name }}
    email = {{ .work_email }}
    signingkey = {{ onepasswordRead "op://work/bitbucket/public key" }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = true